/*
 * Assignment 02
 * CSS FILE
 */


 body {
  font-family:Verdana, Tahoma, sans-serif;
  background-color: greenyellow;
  color: #242121;
  font-size: 1.5rem;
  line-height: 1.6;
  
  min-width: 100%;
  min-height: 100%;
}

header img{
  width:10%;
  height:10%;
  margin-top:6rem;
  float:right;
  display:inline-flex;
}

 header {
  padding: 1.5rem;
  background-color: rgb(174, 255, 0);
  color:black;
  
  display:flex;
  justify-content:space-around;
  align-items: center;
  }
  
  .MrTrendyHead {
  display:flex;
  background-color: rgb(22, 234, 89);
  flex-direction: row-reverse;
  align-items:start;
  justify-content: center;
  flex-basis: 200px;
  gap: 50px
  }
  
  h1{
  color:#11ff00;
  background-color: black;  
  }

  header h2{
  margin-left: 1rem; 
  margin-right: 40rem;
  }
  
    header nav ul {
      list-style: none;
      margin-left: 10rem;
    }
    
    header nav ul li {
    margin-left: 1rem;   
    }
    
    header nav ul li a {
    color:rgb(10, 4, 4);
    text-decoration: solid;
    }
    
    header nav ul li a:hover {
    color: rgb(255, 0, 0);
    text-decoration: underline; 
    
    }

  .sr-only {
    position:fixed;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  
  table, th, td {
    border: 3px solid green;
    border-collapse: collapse;
    background-color: black;
    color:#11ff00
  }
  
  caption{
  color:black 
  }

  footer{
  padding:2rem;
  background-color: rgb(24, 244, 0);
  color: #242121;
  font-size: 1.5rem;
  line-height: 1.6;
  }

  footer img{
  padding:6rem;
  width: 60%;
  }
   footer nav ul {
      list-style: none;
      margin: 2rem;
      padding: 4rem;
    }
    
    footer nav ul li {
    margin-left: 6rem;   
    }
    
    footer nav ul li a {
    color:rgb(10, 4, 4);
    text-decoration: solid;
    }
    
    footer nav ul li a:hover {
    color: rgb(255, 0, 0);
    text-decoration: underline; 
    }