/*
 * Assignment 02
 * CSS FILE
 */


 body {
  font-family:Verdana, Tahoma, sans-serif;
  background-color: greenyellow;
  color: #242121;
  font-size: 1.5rem;
  line-height: 1.6;

  min-width: 100%;
  min-height: 100%;
}

header img{
  width:30%;
  display: block;
  margin-top: 10rem;
}

 header {
  padding: 1.5rem;
  background-color: rgb(174, 255, 0);
  color:black;
  
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  }
  
  .logo-heading-wrapper {
  display:flex;
  align-items: normal;
  }
  
  h1{
  color:#11ff00;
  background-color: black;  
  }

  header h2{
  margin-bottom:20rem;
  margin-left: 2rem;  
  }

  header nav {
    display: flex;
    align-items: normal;
    }
    header nav ul {
      list-style: none;
      margin: 2rem;
      padding: 4rem;
    }
    
    header nav ul li {
    margin-left: 3rem;   
    }
    
    header nav ul li a {
    color:rgb(10, 4, 4);
    text-decoration: solid;
    }
    
    header nav ul li a:hover {
    color: rgb(55, 255, 0);
    text-decoration: underline; 
    
    }

  .sr-only {
    position:fixed;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  
  table, th, td {
    border: 3px solid green;
    border-collapse: collapse;
    background-color: black;
    color:#11ff00
  }
  
  caption{
  color:black 
  }

  footer{
  padding:2rem;
  background-color: rgb(1, 241, 69);
  color: #242121;
  font-size: 1.5rem;
  line-height: 1.6;

  }
  
